/* header */

.grey-white{
    color: white;
    background-color: #2C3E50;
     
}



.white-green{
    background-color: #1ABC9C;
    color: white;
}



.link{
    background-color: #3A546D;
    color: white;
    
}
.copyright{
 background-color:#2C3E50 ;
}