/* header */

.menu{
    color: white;
    background-color: #2C3E50;
     
}

.jumbotron{
    background-color:#1ABC9C;
    color: white;
   
}



.about{
    background-color: #1ABC9C;
}
.contact{
    height: 10rem;
}
.footer{
    background-color: #3A546D;
    height: 3rem;
}
.copyright{
 background-color:#2C3E50 ;
}